body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header, #footer, .header a, #footer a {
  color: white;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
}

#footer {
  background-color: dimgray;
  text-align: left;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

a {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

span {
  font-size: 11px;
}
